@model IList<DigerAdlarViewModel>
<style>
    table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
        top: 3px;
        right: 8px;
    }

    table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
        top: 9px;
    }

    .dt-button {
        margin: 0 !important;
        padding: 2px 5px !important;
    }

    .dt-buttons button:first-child {
        border-radius: 5px 0 0 5px !important;
    }

    .dt-buttons button:last-child {
        border-radius: 0 5px 5px 0 !important;
    }
</style>
<div class="table-responsive">
    <table class="table table-hover table-sm mt-0" id="digerAdTablo" style="width:100%;">
        <thead>
            @*<tr>
                    <td>
                        <button id="ekleMalBtn" class="btn btn-sm btn-primary">Ekle</button>
                    </td>
                    <td>
                        <input id="ekleMalAd" type="text" class="form-control form-control-sm" placeholder="Ad" />
                    </td>
                    <td>
                        <input id="ekleMalKod" type="text" class="form-control form-control-sm" placeholder="Kod" />
                    </td>
                    <td>
                        <select id="ekleMalTur" class="form-control form-control-sm">
                            <option value="">Tür</option>
                            <option value="0">Meyve</option>
                            <option value="1">Sebze</option>
                        </select>
                    </td>
                </tr>*@
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kap Adý</th>
                <th scope="col">Diðer Adý</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (var i = 0; i < Model.Count; i++)
            {
                var item = Model.ElementAtOrDefault(i);
                <tr class="rows" ondblclick="closeModal()">
                    <th scope="row">
                        @(i + 1)
                        <input type="radio" name="malllar" data-id="@item.DigerAdId" class="form-check-input ms-1" data-name="@item.DigerAd" />

                    </th>
                    <td>@item.KapAdi</td>
                    <td>@item.DigerAd</td>
                </tr>
            }
        </tbody>
    </table>
    <input id="modalTarget" type="hidden" value="@Request.QueryString["target"]" />
</div>

<script>
    @*$(document).on("click", "#ekleMalBtn", function (e) {
        var ad = $("#ekleMalAd");
        var kod = $("#ekleMalKod");
        var tur = $("#ekleMalTur");

        if (ad.val() == "") {
            alert("Ad dolu olmalý");
            ad.focus();
        }
        else if (kod.val() == "") {
            alert("Kod dolu olmalý");
            kod.focus();
        }
        else {
            ad = ad.val();
            kod = kod.val();
            tur = tur.val();
            $.post("@Url.Action("MalKaydet")", { ad, kod, tur }, function (data, status) {
                if (status = "success") {
                    $("#modalContent").empty();
                    $("#modalContent").html(data);
                }
                else {
                    alert("Hata: " + status);
                }
            });
        }
    });*@

    $(document).on("click", "tbody .rows", function (e) {
        $(this).find("input").prop("checked", true);
    });
    $(document).ready(function () {
        CreateDatatable('#digerAdTablo');
    });
    $(document).on("click", "#modalSaveBtn", function (e) {
        closeModal();
    });
    function closeModal() {
        var target = $("#" + $("#modalTarget").val());
        target.empty();
        target.removeAttr("data-id");
        var item = $("#digerAdTablo").find("input:checked");
        target.val(item.data("name"));
        target.attr("data-id", item.data("id"));
        $("#modal").modal("hide");
        setTimeout(function () {
            clickEnter(target);
        }, 500);
    }
</script>