@model IList<VohalAramaKesilmeyenSatisFaturasi>
<style>
    table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
        top: 3px;
        right: 8px;
    }

    table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
        top: 9px;
    }

    .dt-button {
        margin: 0 !important;
        padding: 2px 5px !important;
    }

    .dt-buttons button:first-child {
        border-radius: 5px 0 0 5px !important;
    }

    .dt-buttons button:last-child {
        border-radius: 0 5px 5px 0 !important;
    }
</style>
<div class="table-responsive">
    <table class="display table table-hover table-sm mt-0" id="faturaTable" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ünvan</th>
                <th scope="col">Referans No</th>
                <th scope="col">Fatura No</th>
                <th scope="col">Tarih</th>
                <th scope="col">Irsaliye No</th>
                <th scope="col">Fatura Toplamý</th>
                <th scope="col">P/V</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (var i = 0; i < Model.Count; i++)
            {
                var item = Model.ElementAtOrDefault(i);
                <tr class="rows" ondblclick="closeModal()">
                    <th scope="row">
                        @(i + 1)
                        <input type="radio" name="hksmal" data-id="@item.FaturaId" class="form-check-input ms-1" />
                    </th>
                    <td>@item.Unvan</td>
                    <td>@item.FaturaId</td>
                    <td>@item.FaturaNo</td>
                    <td>@item.Tarih.ToString("d.MM.yyyy")</td>
                    <td>@item.IrsaliyeNo</td>
                    <td>@item.FaturaToplami</td>
                    <td>@item.PV</td>
                </tr>
            }
        </tbody>
    </table>
    <input id="tur" type="hidden" value="@Request.QueryString["tip"]" />

</div>
<script>
    $(document).on("click", "tbody .rows", function (e) {
        $(this).find("input").prop("checked", true);
    });
    $(document).ready(function () {
        CreateDatatable('#faturaTable');
    });
    $(document).on("click", "#modalSaveBtn", function (e) {
        closeModal();
    });
    function closeModal() {
        var item = $("#faturaTable").find("input:checked");
        sessionStorage.setItem("kesilmeyenFaturaId", item.data("id"));
        $("#modal").modal("hide");
    }
</script>