@using OfisHal.Core
@{ 
    var tenantSvc = DependencyResolver.Current.GetService<OfisHal.Services.ITenantService>();
    var workSpaces = tenantSvc?.GetWorkSpaces();
    var currentWorkSpace = tenantSvc?.GetCurrentWorkSpace();
}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("Styles", false)
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body class="loaded">
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    @*@Html.Partial("~/Views/Shared/_page_title.cshtml")*@
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    <!-- END layout-wrapper -->
    @* @Html.Partial("~/Views/Shared/_customizer.cshtml") *@

    <div class="modal fade" id="workSpaceModal" tabindex="-1" aria-labelledby="workSpaceModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="@Url.Action("Index", "Dashboard")">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="workSpaceModalLabel">Çalışma Alanı</h1>
                        @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                    </div>
                    <div class="modal-body">
                        @Html.Label(Constants.WorkSpaceCookieName, "Lütfen çalışacağınız veritabanını seçiniz", new { @class = "control-label", required = "required" })
                        @Html.DropDownList(Constants.WorkSpaceCookieName, workSpaces, "-Çalışma Alanı Seç-", new { @class = "form-control" })
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    @if (string.IsNullOrWhiteSpace(currentWorkSpace?.DatabaseName))
    {
        <script>
            window.onload = () => {
                const myModal = new bootstrap.Modal("#workSpaceModal");
                myModal.show();
            }
        </script>
    }
    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    <button class="d-none" id="hideRemoveBtn"></button>
    @RenderSection("scripts", required: false)
</body>
</html>