<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("Styles", false)
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body class="loaded">
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    @*@Html.Partial("~/Views/Shared/_page_title.cshtml")*@
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>

    </div>
    <!-- END layout-wrapper -->
    @* @Html.Partial("~/Views/Shared/_customizer.cshtml") *@

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    <button class="d-none" id="hideRemoveBtn"></button>
    @RenderSection("scripts", required: false)
</body>
</html>