@{
    var currentDb = DependencyResolver.Current.GetService<OfisHal.Services.ITenantService>()?.GetCurrentWorkSpace();
    var currentDbName = string.IsNullOrWhiteSpace(currentDb?.FriendlyName) ? currentDb?.DatabaseName : currentDb?.FriendlyName;
}
<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="@Url.Action("Index", "Dashboard")" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="~/assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/logo-dark.png" alt="" height="50">
                        </span>
                    </a>

                    <a href="@Url.Action("Index", "Dashboard")" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="~/assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/logo-light.png" alt="" height="17">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                        id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

                <!-- App Search-->
                <!-- Buttons with Label -->
                <div class="d-flex justify-content-center align-items-center">
                    <a href="/TohalFaturas/Index" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1">
                        <img src="~/assets/icons/file.png" alt="file" />
                        <span class="fs-6 fw-normal">Fatura</span>
                    </a>
                    <a href="/TohalCariHarekets/MCreate" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1">
                        <img src="~/assets/icons/notes.png" alt="notes" />
                        <span class="fs-6 fw-normal">Veresiye</span>
                    </a>
                    <a href="/reports/details/musteriveresiyedefteri" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1">
                        <img src="~/assets/icons/notebook.png" alt="notebook" />
                        <span class="fs-6 fw-normal">V.Defteri</span>
                    </a>
                    <a href="/reports/details/kasadefteri" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1">
                        <img src="~/assets/icons/open-book.png" alt="open-book" />
                        <span class="fs-6 fw-normal">K.Defteri</span>
                    </a>
                    <a href="/SatisIslemleri/RehinIade" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1">
                        <img src="~/assets/icons/update.png" alt="update" />
                        <span class="fs-6 fw-normal">Rehin İade</span>
                    </a>
                    <a href="/AlisIslemleri/Index" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1">
                        <img src="~/assets/icons/file.png" alt="file" />
                        <span class="fs-6 fw-normal">A.Faturası</span>
                    </a>
                    <a href="/DokumIslemleri/Stok" class="btn btn-ghost-secondary rounded d-flex flex-column align-items-center p-1 me-1" style="display:none !important;">
                        <img src="~/assets/icons/boxes.png" alt="boxes" />
                        <span class="fs-6 fw-normal">Stok Kayıt</span>
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center">

                @* <div class="dropdown ms-1 topbar-head-dropdown header-item">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img id="header-lang-img" src="~/assets/images/flags/us.svg" alt="Header Language" height="20"
                    class="rounded">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" data-lang="en"
                    title="English">
                    <img src="~/assets/images/flags/us.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">English</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp"
                    title="Spanish">
                    <img src="~/assets/images/flags/spain.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">Española</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr"
                    title="German">
                    <img src="~/assets/images/flags/germany.svg" alt="user-image" class="me-2 rounded"
                    height="18"> <span class="align-middle">Deutsche</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it"
                    title="Italian">
                    <img src="~/assets/images/flags/italy.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">Italiana</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru"
                    title="Russian">
                    <img src="~/assets/images/flags/russia.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">русский</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ch"
                    title="Chinese">
                    <img src="~/assets/images/flags/china.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">中国人</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="fr"
                    title="French">
                    <img src="~/assets/images/flags/french.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">français</span>
                    </a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ar" title="Arabic">
                    <img src="~/assets/images/flags/ar.svg" alt="user-image" class="me-2 rounded" height="18">
                    <span class="align-middle">Arabic</span>
                    </a>
                    </div>
                    </div> *@


                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                            data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>

                @*                 <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button"
                    class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                    <i class='bx bx-moon fs-22'></i>
                    </button>
                    </div> *@


                <span>@(!string.IsNullOrWhiteSpace(currentDbName) ? currentDbName : "Çalışma Alanı Seçilmedi")</span>

                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="~/assets/images/users/avatar-1.jpg"
                                 alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">@User.Identity.Name</span>
                                <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">B01</span>
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        @* <h6 class="dropdown-header">Welcome Anna!</h6> *@

                        <a class="dropdown-item" href="@Url.Action("Index", "Account")">
                            <i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Ayarlar</span>
                        </a>
                        @*                         <a class="dropdown-item" href="@Url.Action("LockScreenBasic", "Authentication")">
                            <i class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Lock screen</span>
                            </a> *@
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#workSpaceModal">
                            <i class="mdi mdi-account-convert text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Çalışma Alanını Değiştir</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Account")">
                            <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Çıkış Yap</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
