@model OfisHal.Web.Models.VohalOdemeBordrosu
@{
    ViewBag.title = "Firma Çek - Senet Elden Ödeme";

    ViewBag.pagetitle = "Çek - Senet İşlemleri";
    ViewBag.ptitle = "Firma Çek - Senet Elden Ödeme";

    ViewBag.addUrl = "/CekSenetIslemleri/FirmaCekEldenOdeme";
    ViewBag.saveUrl = "";
    ViewBag.firstDataUrl = "/CekSenetIslemleri/ilkSonKayit?firstOrLast=true&islemturu=9&actionName=FirmaCekEldenOdeme";
    ViewBag.beforeDataUrl = "/CekSenetIslemleri/sonrakiOncekiKayit?afterOrBefore=true&currentId=" + Model.OdemeBordrosuId + "&islemturu=9&actionName=FirmaCekEldenOdeme";
    ViewBag.afterDataUrl = "/CekSenetIslemleri/sonrakiOncekiKayit?afterOrBefore=false&currentId=" + Model.OdemeBordrosuId + "&islemturu=9&actionName=FirmaCekEldenOdeme";
    ViewBag.lastDataUrl = "/CekSenetIslemleri/ilkSonKayit?firstOrLast=false&islemturu=9&actionName=FirmaCekEldenOdeme";
    ViewBag.disabledBeforeAfter = true;
}
@section styles {
    <link rel="stylesheet" href="~/assets/css/icons.min.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/js/SlickGrid/dist/styles/css/slick.columnpicker.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/js/SlickGrid/dist/styles/css/slick-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/js/SlickGrid/dist/styles/css/slick-alpine-theme.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <!-- jQuery CDN -->
    @* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> *@
    <style>
        #arabtn {
            display: none !important;
        }
    </style>
}
@Html.Partial("~/Views/Shared/_dataNavigator.cshtml")
<form id="faturaForm">
    @Html.HiddenFor(model => model.CariKartId, new { id = "hiddenCariKartId" })
    @Html.HiddenFor(model => model.EklemeZamani)
    @Html.HiddenFor(model => model.GuncellemeZamani)
    @Html.HiddenFor(model => model.OdemeBordrosuId)
    @Html.Hidden("IslemTuru", 9)
    <div class="row mb-1">
        <div class="col-md-3">
            <div class="row">
                <h5>Cari Bakiye : </h5>
            </div>
            <div class="row">
                <label for="num" class="col-sm-4 col-form-label pb-0">
                    No
                </label>
                <div class="col-sm-8">
                    <input type="text" value="@Model.BordroNo" id="bordroNo" name="bordroNo" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row">
                <label for="date" class="col-sm-4 col-form-label pb-0">
                    Tarih
                </label>
                <div class="col-sm-8">
                    <input type="date" name="date" id="date" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="row ">
                <label for="aciklama" class="col-sm-4 col-form-label pb-0">
                    Açıklama
                </label>
                <div class="col-sm-8">
                    <input type="text" id="aciklama" name="aciklama" class="form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="col-md-4 border p-2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-firmaceki" type="button" role="tab" aria-controls="pills-firmaceki" aria-selected="true">
                        Firma Çeki
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-firmasenedi" type="button" role="tab" aria-controls="pills-firmasenedi" aria-selected="false">
                        Firma Senedi
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-firmaceki" role="tabpanel" aria-labelledby="pills-firmaceki-tab" tabindex="0">
                    <div class="col-12">
                        <table width="100%">
                            <tr>
                                <td valign="top" width="50%">
                                    <input type="hidden" id="gridBanka" name="gridBanka" />
                                    <input type="hidden" id="gridBankaHes" name="gridBankaHes" />
                                    <input type="hidden" id="gridOAraci" name="gridOAraci" />
                                    <div id="myGrid3xq" class="slick-container" style="height:200px;"></div>
                                    <div id="pager4xq" style="width: 100%; height: 20px"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-firmasenedi" role="tabpanel" aria-labelledby="pills-firmasenedi-tab" tabindex="0">
                    <div class="col-12">
                        <table width="100%">
                            <tr>
                                <td valign="top" width="50%">

                                    <div id="myGrid4xq" class="slick-container" style="height:200px;"></div>
                                    <div id="pager4xq" style="width: 100%; height: 20px"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row mb-1">
    <div class="col-md-3 border p-2">
        <input type="hidden" id="geneltoplam3" name="genelToplam3" class="form-control form-control-sm" disabled />
        <input type="hidden" id="ortalamavade3" name="ortalamavade3" class="form-control form-control-sm" disabled />
        <input type="hidden" id="itibarideger3" name="itibarideger3" class="form-control form-control-sm" disabled />
        <input type="hidden" id="geneltoplam4" name="genelToplam4" class="form-control form-control-sm" disabled />
        <input type="hidden" id="ortalamavade4" name="ortalamavade4 " class="form-control form-control-sm" disabled />
        <input type="hidden" id="itibarideger4" name="itibarideger4 " class="form-control form-control-sm" disabled />
        <h6>Genel</h6>
        <div class="row">
            <label for="genelToplam" class="col-sm-5 col-form-label pb-0">
                Toplam
            </label>
            <div class="col-sm-7">
                <input type="text" id="genelToplam" name="genelToplam" class="form-control form-control-sm" disabled />
            </div>
        </div>
        <div class="row">
            <label for="genelOrtalamaVade" class="col-sm-5 col-form-label pb-0">
                Ortalama Vade
            </label>
            <div class="col-sm-7">
                <input type="text" id="genelOrtalamaVade" name="genelOrtalamaVade" class="form-control form-control-sm" disabled />
            </div>
        </div>
        <div class="row">
            <label for="genelItibariDeger" class="col-sm-5 col-form-label pb-0">
                İtibari Değer
            </label>
            <div class="col-sm-7">
                <input type="text" id="genelItibariDeger" name="genelItibariDeger" class="form-control form-control-sm" disabled />
            </div>
        </div>
    </div>
    <div class="col-md-3 border p-2">
        <h6 id="changeLabel">Çek</h6>
        <div class="row">
            <label for="toplam" class="col-sm-5 col-form-label pb-0">
                Toplam
            </label>
            <div class="col-sm-7">
                <input type="text" id="toplam" name="toplam" class="form-control form-control-sm" disabled />
            </div>
        </div>
        <div class="row">
            <label for="ortalamaVade" class="col-sm-5 col-form-label pb-0">
                Ortalama Vade
            </label>
            <div class="col-sm-7">
                <input type="text" id="ortalamaVade" name="ortalamaVade" class="form-control form-control-sm" disabled />
            </div>
        </div>
        <div class="row">
            <label for="itibariDeger" class="col-sm-5 col-form-label pb-0">
                İtibari Değer
            </label>
            <div class="col-sm-7">
                <input type="text" id="itibariDeger" name="itibariDeger" class="form-control form-control-sm" disabled />
            </div>
        </div>
    </div>
    <div class="col-md-1 d-flex align-items-center justify-content-center flex-column">
        <button class="btn btn-sm btn-success w-100 mb-1" id="gridPostButton">Kaydet</button>
        <button class="btn btn-sm btn-danger w-100">Vazgeç</button>
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-7 text-center">

    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <div id="modalContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button id="modalSaveBtn" type="button" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/customscripts/sharedfuncs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/tr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs/Sortable.min.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/slick.core.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/slick.interactions.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/slick.grid.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/slick.formatters.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/slick.editors.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/plugins/slick.rowselectionmodel.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/slick.dataview.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/controls/slick.pager.js"></script>
    <script src="~/assets/js/SlickGrid/dist/browser/controls/slick.columnpicker.js"></script>
    @Html.Partial("~/Views/CekSenetIslemleri/Partials/_faturaGridfcelden3.cshtml")
    @Html.Partial("~/Views/CekSenetIslemleri/Partials/_faturaGridfcelden4.cshtml")
    <script>
        var target = "";
        var lbl = document.getElementById("changeLabel");
        var btns = document.querySelectorAll("button[role='tab']");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                lbl.innerText = this.innerText;
            });
        }
        $(document).on("show.bs.modal", "#modal", function (e) {
            var btn = $(e.relatedTarget);
            var container = $("#modalContent");
            var label = $("#modalLabel");

            container.empty();
            label.empty();

            if (btn.data("remote-url")) {
                target = btn.data("btarget");
                container.load(btn.data("remote-url"))
                label.text(btn.data("label"))
            } else {
                target = e.relatedTarget.target;
            }
        });

        $(document).on("hidden.bs.modal", "#modal", function (e) {
            $("#modalContent").empty();
            $("#modalLabel").empty();

            var bankaId = document.getElementById("gridBanka").getAttribute("data-id");
            var bankaAd = document.getElementById("gridBanka").value;
            var bankahesId = document.getElementById("gridBankaHes").getAttribute("data-id");
            var bankahesAd = document.getElementById("gridBankaHes").value;
            var OdemeAraciId = document.getElementById("gridOAraci").getAttribute("data-id");
            var OdemeAraciNo = document.getElementById("gridOAraci").getAttribute("data-name");
            var BankaAdi = document.getElementById("gridOAraci").getAttribute("data-banka");
            var HesapAdi = document.getElementById("gridOAraci").getAttribute("data-hesap");
            var VadeTarihi = document.getElementById("gridOAraci").getAttribute("data-vadetarihi");
            var Meblag = document.getElementById("gridOAraci").getAttribute("data-meblag");

            switch (target) {
                case "musteriCode": autoFill("musteriKod", "/Common/getCariById", "#musteriAd", "Ad", "CariKartId"); break;
                case "musteriName": autoFill("musteriAd", "/Common/getCariById", "#musteriKod", "Kod", "CariKartId"); break;
                case "mustahsilCode": autoFill("mustahsilKod", "/Common/getCariById", "#mustahsilAd", "Ad", "CariKartId"); break;
                case "mustahsilName": autoFill("mustahsilAd", "/Common/getCariById", "#mustahsilKod", "Kod", "CariKartId"); break;
                case "banka": updateBankaCell(bankaId, bankaAd); goToNextCol(); break;
                case "oaraci": updateoAraciCell(OdemeAraciNo, OdemeAraciId, BankaAdi, VadeTarihi, Meblag); break;
                case "oaraci2xq": updateoAraciCell2xq(OdemeAraciNo, OdemeAraciId, BankaAdi, VadeTarihi, Meblag); break;
                case "oaraci3xq": updateoAraciCell3xq(OdemeAraciNo, OdemeAraciId, HesapAdi, VadeTarihi, Meblag); break;
                case "oaraci4xq": updateoAraciCell4xq(OdemeAraciNo, OdemeAraciId, HesapAdi, VadeTarihi, Meblag); break;
                case "banka3xq": updateBankaCell3xq(bankaId, bankaAd); goToNextCol3xq(); break;
                case "bankName":
                    $("#accNo").removeAttr("data-id");
                    $("#accNo").val(null);
                    break;
                case "hesapNo":
                    var bankaHesapId = document.getElementById("accNo").getAttribute("data-id");
                    if (bankaHesapId != null) {
                        $.ajax({
                            url: "/Common/getBankaHesapById",
                            type: "GET",
                            data: { id: bankaHesapId },
                            cache: false,
                            success: (res) => {
                                $("#bankName").attr("data-id", res.BankaId);
                                $("#bankName").val(res.BankaAdi);
                            }
                        });
                    }
                    break;
            }
        });
        $(document).ready(function () {
            document.getElementById('gridPostButton').addEventListener('click', function () {
                postGridElements();
            });
        });
    </script>
}