@model LoginViewModel
@{
    ViewBag.Title = "Giriş Sayfası";
    Layout = null;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                                                    <div>
                                <a href="@Url.Action("Index", "Dashboard")" class="d-inline-block auth-logo">
                                <img src="~/assets/images/logo-light.png" alt="" height="100">
                                </a>
                                </div>
                                @*<p class="mt-3 fs-15 fw-medium">Premium Admin & Dashboard Template</p>*@ 
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                @*                                 <div class="text-center mt-2">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p class="text-muted">Sign in to continue to OfisHal.</p>
                                    </div> *@
                                <div class="p-2 mt-4">
                                    <form action="@Url.Action("Login",new {Model.Path})" method="post" role="form">
                                        @Html.AntiForgeryToken()

                                        <div class="mb-3">
                                            @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                                            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kullanıcıı Adı" } })
                                            @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">

                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            @*                                             <div class="float-end">
                                                <a href="@Url.Action("PasswordResetBasic", "Authentication")" class="text-muted">Forgot password?</a>
                                                </div> *@
                                                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control pe-5 password-input", @placeholder = "Şifre" } })
                                                @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10">

                                                </div>
                                            </div>
                                        </div>

                                        @*                                         <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="auth-remember-check" name="rememberMe">
                                            <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                            </div>  *@

                                        <div class="mt-4">
                                            <button class="btn btn-success w-100" type="submit">Sisteme Giriş</button>
                                        </div>

                                        @*                                         <div class="mt-4 text-center">
                                            <div class="signin-other-title">
                                            <h5 class="fs-13 mb-4 title">Sign In with</h5>
                                            </div>
                                            <div>
                                            <button type="button" class="btn btn-primary btn-icon waves-effect waves-light"><i class="ri-facebook-fill fs-16"></i></button>
                                            <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-google-fill fs-16"></i></button>
                                            <button type="button" class="btn btn-dark btn-icon waves-effect waves-light"><i class="ri-github-fill fs-16"></i></button>
                                            <button type="button" class="btn btn-info btn-icon waves-effect waves-light"><i class="ri-twitter-fill fs-16"></i></button>
                                            </div>
                                            </div> *@
                                    </form>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                        @*
                            <div class="mt-4 text-center">
                            <p class="mb-0">Don't have an account ? <a href="@Url.Action("SignUpBasic", "Authentication")" class="fw-semibold text-primary text-decoration-underline"> Signup </a> </p>
                            </div> *@

                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-muted">
                                &copy;
                                <script>document.write(new Date().getFullYear())</script>
                            </p>
                            @* <p class="mb-0 text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Trawelin. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p> *@
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    <script src="~/assets/libs/particles.js/particles.js"></script>
    <script src="~/assets/js/pages/particles.app.js"></script>
    <script src="~/assets/js/pages/password-addon.init.js"></script>
</body>
</html>

@*<main aria-labelledby="title">
    <h2 id="title">@ViewData["Title"].</h2>
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("Login",new {Model.Path})" method="post" role="form">
                @Html.AntiForgeryToken()
                <h4>Oturum açmak için bir yerel hesap kullanın.</h4>
                <hr />
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <button class="btn btn-outline-dark">Oturum aç</button>
                    </div>
                </div>
                <p>
                    <a href="@Url.Action("Register")">Kaydol</a>
                </p>
                <p>
                    <a href="@Url.Action("ForgotPassword")">Şifremi Unuttum</a>
                </p>
            </form>
        </div>
    </div>
</main>*@
